<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html>
    <head>
        <title>ERROR</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bethe Events</title>

        <!-- CSS  -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link href="/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
        <link href="/css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
    </head>
    <body class="center" style="text-align: center; position: absolute; top: 30%;">
        <i class="material-icons" style="font-size: 100px; color: #053a91;">error_outline</i>
        <p style="margin-bottom: 0; font-size: 20px">Uh oh! It looks like there was an error!</p><br>
        <p style="font-size: 20px;">Please contact Erica Ostermann (eo93@cornell.edu) to identify the error.</p>

        <!--  Scripts-->
        <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="/js/init.js"></script>
    </body>
</html>
